langgraph
langchain 
langchain-openai
langchain-community

fastapi
uvicorn[standard]
python-multipart

sqlalchemy
psycopg2-binary
alembic

playwright
beautifulsoup4
requests
httpx


instaloader
apify-client

sentence-transformers
openai
tiktoken

pandas 
numpy
ipykernel
jupyter

celery
redis

sendgrid
python-dotenv

pydantic
pydantic-settings
python-dateutil

sentry-sdk

